.container {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 12vh;
}

.logo {
  /* border: 2px solid green; */
  flex: 0 0 65%;
  margin-left: 5px;
}

.navItems {
  /* border: 2px solid orange; */
  display: flex;
  flex: 1;
  justify-content: space-around;
}


