.container {
  border: 2px red solid;
  display: flex;
  flex-direction: column;
}

aside {
  border: 2px blue solid;
}
.base2 {
  display: flex;
  border: 2px  green solid;
}

.base2 aside{
  flex: 0 0 15%;
}
.navbar {
  border:  4px black solid;
}
